:root {
    --bg-color: #f5f5f5;
    --primary-color-green: #0a712a;
    --base-color-white: #ffffff;
    --base-color-black: #000000;
    --base-color-blue: #03318C;
    --base-font-press-start-2p: "Press Start 2P", sans-serif;
    --base-font-ibm-plex-mono: "IBM Plex Mono", sans-serif;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: var(--base-font-ibm-plex-mono);
    background-color: var(--bg-color);
    color: var(--base-color-black);
    width: 100vw;
}

header {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-green);
    box-shadow: 0px 7px 0.9px 0px #00000040;
}

header, footer {
    & img {
        width: 374px;
        height: 56px;
    }
}

main {
    width: 100%;
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > div {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 60px 40px;
    }
    & section {
        width: 100%;
        height: 1110px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px;
        gap: 40px;
        & ul {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            padding: 15px;
            gap: 10px;
            row-gap: 76px;
            box-shadow: -12px 10px 5.8px 0px #00000040;
            overflow-y: auto;
            & li {
                width: 196px;
                height: 258px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                padding: 10px;
                gap: 10px;
                background-color: var(--primary-color-green);
                color: var(--base-color-white);
                border-radius: 10px;
                border: 3px solid var(--base-color-black);
                box-shadow: -5px 6px 3.3px 0px #00000040;
                & img {
                    width: 100%;
                    min-height: 174px;
                    border-radius: 10px;
                    border: 3px solid var(--base-color-black);
                    cursor: pointer;
                }
                & p {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 19.5px;
                    text-align: left;
                }
                & div {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    & p {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 20.8px;
                        text-align: left;
                    }
                    & ion-icon {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    & form {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 40px;
        gap: 40px;
        & h2 {
            width: 85%;
            text-align: center;
        }
        & input {
            width: 100%;
            height: 58px;
            padding: 10px 0 10px 17px; 
            border: 3px solid var(--base-color-blue);
            border-radius: 30px;
            &::placeholder {
                font-size: 16px;
                font-weight: 600;
                line-height: 20.8px;
                text-align: left;
                color: var(--base-color-blue);
            }
        }
        & div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            & button {
                width: 188px;
                height: 55px;
                border-radius: 15px;
                font-size: 20px;
                font-weight: 500;
                line-height: 26px;
                text-align: center;
                background-color: var(--base-color-blue);
                color: var(--base-color-white);
                &:nth-child(2){
                    background-color: var(--base-color-white);
                    color: var(--base-color-blue);
                    border: 3px solid #03318C
                }
            }
        } 
    }
    & h2 {
        font-family: var(--base-font-press-start-2p);
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 64px;
    gap: 15px;
    color: var(--base-color-white);
    background-color: var(--primary-color-green);
    box-shadow: 0px -10px 9.5px 0px #00000040;
    & p {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        &:nth-child(3){
            font-weight: 200;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 20px 0;
    }
    main {
        padding: 20px;
        & > div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            padding: 0;
            & section {
                padding: 0;
                & h2 {
                    margin: 50px 0;
                }
                & ul {
                    width: 100%;
                    box-shadow: none;
                    overflow-y: auto;
                    & li {
                        width: 196px;
                        height: 258px;
                        & img {
                            width: 100%;
                            min-height: 100px;
                        }
                        & p {
                            font-size: 12px;
                        }
                        & div {
                            & p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            & form {
                width: 100%;
                & h2 {
                    width: 100%;
                }
                & input {
                    width: 100%;
                }
                & div {
                    & button {
                        width: 100%;
                    }
                }
            }
        }
    }  
}